extends ../layout

block body
  .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
    if success
      .row
        p.lead
          | An email has been sent to #{email}.

    else
      .row
        form.form-signin(action='', method='POST', data-toggle="validator")
          h2.form-signin-heading Enter an email address

          .form-group
            -
              var placeholder = email || 'Email';
              var value = email || '';
            label.sr-only(for='email') Email
            input.form-control#email(type='email', name='email' placeholder=placeholder, value=value, required,
            autofocus, data-error="Enter a valid email address")
            .help-block.with-errors

          button.btn.btn-lg.btn-primary.btn-block(type='submit') Add

      if errors
        br
        .row
          each error in errors
            +alert-i-danger(error)

