extends ../layout

block body
  .col-sm-offset-3.col-sm-6
    .row
      each error in errors
        +alert-i-danger(error)

  .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
    .row
      a.btn.btn-lg.btn-primary.btn-block(href='./') Try again