extends layout

block body
  h1.text-center.login-title Welcome #{username}

  h1 Identities

  table.table(class="table-striped", style="font-size: 18px")
    thead
      tr
        th.col-xs-1 Type
        th Name
        th.col-xs-1.text-center Actions
    tbody
      each identity in identities
        tr
          td= identity.type
          td= identity.displayName
          td.text-center
            - var canChange = identity.type !== config.identities.messageGuardType
            if canChange
              form(action='/identity/delete', method='POST')
                input(type='hidden', name='id', value=identity.id)
                button.btn.btn-sm.btn-danger(type="submit")
                  +icon('remove')


  form#addForm(action='/identity/add', method='POST')
    .row
      .col-xs-2
        select.form-control#identityType(name='type')
          - var handlers = identityHandlers.sort(function (x, y) { return x.displayName.localeCompare(y.displayName); });
          each router in handlers
            option(value=router.routeName)= router.displayName

      .col-xs-1
        button.btn.btn-success(type="submit")
          +icon('plus')