extends layout

block body

  .container
    h1 Welcome to MessageGuard's key server
    br

    h2 MessageGuard
    p.
      MessageGuard is a tool to encrypt your communciation and data online. While it can be used without this key
      server, its functionality is limited to encrypting messages with a password. Using this key server, you will
      have access to easier and more secure encryption.

    h2 What to do?
    p.
      If you already have an account, login using the link on the upper right corner. Otherwise, create an account.
      After logging in, you are done and can return to MessageGuard.

    h2 What is a key server?
    p.
      A key server manages cryptographic "keys". These keys are used to encrypt or decrypt messages. Without access to
      the appropriate key, an encrypted message cannot be read. Keys are split into two complementary types: public
      and private. A user's public key can be used to encrypt a message for that user. Their coresponding private key
      is then used to decrypt that message.
    p.
      This key server helps users discover other users' public keys. Optionally, it can also be used to store private
      keys, making it easier to read encrypted email from all of your devices. Currently, there is support for PGP and
      BF-IBE keys.

    h2 Contact information
    p.
      If you have any questions, feel free to contact the Internet Security Research Lab at Brigham Young University
      <webmaster@isrl.byu.edu>.
