//- bootstrap.jade
//- bootstrap mixins
//- Including Icon mixins
include mixins/icons
//- Including Alert mixins
include mixins/alerts
//- Including Tooltip mixins
include mixins/tooltips
//- Including Accordion mixins
include mixins/accordion
//- Including Carousel mixins
include mixins/carousel
//- Including Table mixins
include mixins/tables
//- Including Navbar mixins
include mixins/navbar
//- Including Toggle Button mixins
include mixins/toggle
//- Including Nav mixins
include mixins/navs
//- Including Label mixins
include mixins/labels
//- Including Panel mixins
include mixins/panels
//- Including Tab mixins
include mixins/tabs
//- Including Dropdown mixins
include mixins/dropdowns
//- Including Form control mixins
include mixins/forms
//- Including Modal dialog mixins
include mixins/modal
//- Including List group mixins
include mixins/list-groups
//- Including Progress bar mixins
include mixins/progress-bars
//- Including Button mixins
include mixins/buttons
//- Including Image mixins
include mixins/images
//- Including Bootswatch theme mixins
include mixins/bootswatch

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="author",content="")
    link(rel="icon",href="../../favicon.ico")
    title= title
    block styles
      link(rel="stylesheet",href="/css/bootstrap.min.css")
      link(rel="stylesheet",href="/css/pwm/freelancer.css")
      link(rel="stylesheet",href="/css/pwm/pwm.css")

      style.
        body {
          font-size: 18px;
        }

    script(src="/js/jquery.min.js")

  body(data-spy="scroll",data-target=".scrollspy")
    +navbar-static(siteName, "navbar")
      if isAuthenticated
        +nav_group
          +nav_item("/home") Home
        +nav_group(true)
          +nav_item("/logout") Log Out
      else
        +nav_group(true)
          +nav_item("/signup") Sign Up
          +nav_item("/login") Log In

    .container
      block body

    block scripts
      script(src="/js/bootstrap.min.js")
      script(src="/js/validator.min.js")

      //- Set the active navigation tab.
      script(type='text/javascript').
        jQuery('#navbar>ul>li:has(a[href="' + window.location.pathname + '"])').addClass('active');
