extends layout

block body
  .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
    .row
      form.form-signin(action='/login', method='POST', data-toggle="validator")
        h2.form-signin-heading Please sign in
        br

        .form-group
          -
            var placeholder = username || 'Username';
            var value = username || '';
            var regex = config.users.usernameRegex.toString();
            regex = regex.substring(1, regex.length - 1);
          label.sr-only(for='username') Username
          input.form-control#username(type='text', name='username' placeholder=placeholder, value=value, required,
          autofocus, pattern=regex, data-error="Username must only contain letters, numbers, and underscores")
          .help-block.with-errors

        .form-group
          -
            var regex = config.users.passwordRegex.toString();
            regex = regex.substring(1, regex.length - 1);
          label.sr-only(for='password') Password
          input.form-control#password(type='password', name='password', placeholder='Password', required, pattern=regex,
          data-error="Passwords must be at least 8 characters long")
          .help-block.with-errors

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

  if errors
    br
    .row
      each error in errors
        +alert-i-danger(error)