header .container {
    padding-top: 100px;
}

header .row p:first-of-type {
    font-size: 32px;
    font-weight: bold;
    text-transform:uppercase;
}

#feature .row:nth-child(1) {
    padding-bottom: 50px;
}

#feature .feature-item {
    text-align: center;
}

#feature .feature-item .feature-link img {
    height: 224px;
}

#feature .feature-item .feature-link .caption .caption-content {
    margin-top: -48px;
}

#feature .feature-item .feature-link .caption .caption-content span,
#feature .feature-item .feature-link .caption .caption-content i {
    font-size: 48px;
    line-height: 48px;
}

#feature .feature-item .feature-link .caption .caption-content i {
    margin-top: 10px;
}

#feature .feature-item .feature-link {
    display: inline-block;
}

.modal-content {
    margin-top: 12%;

    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.498039) 5px 15px 50px, rgba(0, 0, 0, 0.498039) 15px 5px 50px, rgba(0, 0, 0, 0.498039) -15px 5px 50px, rgba(0, 0, 0, 0.498039) 5px -15px 50px;
}

.modal-content p:first-of-type {
    margin-top: 40px;
}

.modal-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-content p:last-of-type {
    margin-bottom: 50px;
}

.modal-content img {
    margin-top: 40px;
}