extends ../layout

block body
  .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
    .row
      form.form-signin(action='/signup', method='POST', data-toggle="validator")
        h2.form-signin-heading Please create an account
        br

        .form-group
          -
            var placeholder = username || 'Email address';
            var value = username || '';
            var regex = config.users.emailRegex.toString();
            regex = regex.substring(1, regex.length - 1);
          label(for='username') Email address
          div(style='color:grey;padding-bottom:10px;') Use the address you plan on sending messages from.
          input.form-control#username(type='text', name='username', value=value, required, autofocus, pattern=regex, data-error="Email address is invalid")
          .help-block.with-errors

        div(style='color:grey;padding:20px 0 10px 0;')
          | Select a strong password that is different from your email password. (At least eight characters.)
          

        .form-group
          -
            var regex = config.users.passwordRegex.toString();
            regex = regex.substring(1, regex.length - 1);
          label(for='password') Password
          input.form-control#password(type='password', name='password', required, pattern=regex, data-error="Passwords must be at least 8 characters long")
          label(for='confirmPassword', style='padding-top:10px;') Confirm Password
          input.form-control#confirmPassword(type='password', name='password2',
          required, data-match="#password", data-error="The passwords do not match")
          .help-block.with-errors

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Create account

        script.
          $('input[pattern]').on('input.bs.validator', function (e) {
            e.stopImmediatePropagation();
          });

    if errors
      br
      .row
        each error in errors
          +alert-i-danger(error)