extends ../layout

block body
  style.
    .container {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 19.8px;
    }

  .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
    .row
      | Congrats! Your identity has been verified.
      br
      br
      | Click #[a(id="download-link",href="javascript:void(0)",style="text-decoration:underline") here] to download and install the extension.
  script.
    var typeIDs = {
      password_ephemeral:  'glefjdfekkcbaajifjkffbahlnohcmic',
      password_persistent: 'glefjdfekkcbaajifjkffbahlnohcmic',
      ibe:                 'cpefbhdilhnaffflpnipbnkbkhdlimji',
      pgp:                 'kmiopneohmgkdmhfomjchecbcgmndjpp'
    };
    
    var typeUrls = {
      password_ephemeral:  '/downloads/messageguard_passwords_e.crx',
      password_persistent: '/downloads/messageguard_passwords_p.crx',
      ibe:                 '/downloads/messageguard_ibe.crx',
      pgp:                 '/downloads/messageguard_pgp.crx'
    };

    var subdomain = window.location.host.split('.')[0];
    var mgType = subdomain === 'passwords' ? 'password_ephemeral' : subdomain;

    function setupDownloadLink() {

      if (mgType in typeIDs) {
        var chromeStoreUrl = 'https://chrome.google.com/webstore/detail/' + typeIDs[mgType];

        $('<link>')
          .attr('rel', 'chrome-webstore-item')
          .attr('href', chromeStoreUrl)
          .appendTo('head');

        $('#download-link').click(function (e) {
          e.preventDefault();
          chrome.webstore.install();
        });
        $('#download-link').attr('href', typeUrls[mgType]);
      }
    }
    
    document.addEventListener('DOMContentLoaded', setupDownloadLink);