extends ../layout

block body
  style.
    .container {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 19.8px;
    }

  script.
    // Hack since technically at this point we're "logged in", just not verified yet.
    $('a[href="/logout"]').text('Log In').attr('href', '/login');

  .col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
    .row
      | Alright! A confirmation email has been sent to
      b= ' ' + email + '. '
      | Please check your email in order to proceed to the extension download page.
