//- Glyphicon
mixin icon(name)
  span.glyphicon(class="glyphicon-#{name}",aria-hidden="true")

mixin icon-primary(name)
  span.glyphicon.text-primary(class="glyphicon-#{name}",aria-hidden="true")

mixin icon-info(name)
  span.glyphicon.text-info(class="glyphicon-#{name}",aria-hidden="true")

mixin icon-warning(name)
  span.glyphicon.text-warning(class="glyphicon-#{name}",aria-hidden="true")

mixin icon-danger(name)
  span.glyphicon.text-danger(class="glyphicon-#{name}",aria-hidden="true")

mixin icon-success(name)
  span.glyphicon.text-success(class="glyphicon-#{name}",aria-hidden="true")
