//- progress-bar mixins
mixin progress-bar(value,type)
  -var type = type || ""
  .progress
    .progress-bar(class="progress-bar-#{type}",role='progressbar', aria-valuenow='#{value}', aria-valuemin='0', aria-valuemax='100', style='width: #{value}%;')
      span.sr-only #{value}% Complete

mixin progress-bar-success(value)
  +progress-bar(value,"success")

mixin progress-bar-info(value)
  +progress-bar(value,"info")

mixin progress-bar-warning(value)
  +progress-bar(value,"warning")

mixin progress-bar-danger(value)
  +progress-bar(value,"danger")

mixin progress-bar-info(value)
  +progress-bar(value,"info")

mixin progress-bar-striped(value)
  +progress-bar(value,"striped")