//- Tabs
mixin tab-list(tabs,active)
  ul.nav.nav-tabs(role="tablist")
    each item,index in tabs
      if (index === active)
        li.active
          a(href="#tab#{item}",role="tab",data-toggle="tab")= item
      else
        li
          a(href="#tab#{item}",role="tab",data-toggle="tab")= item
  .tab-content
    block


//- Tab pane
mixin tab(id,active)
  if(active)
    .tab-pane.active(id="tab#{id}")
      block
  else
    .tab-pane(id="tab#{id}")
      block